<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.frontWeb.GuestRateLimitMapper">
    <select id="selectRateLimit" parameterType="com.shop.core.entity.GuestRateLimit" resultType="com.shop.core.entity.GuestRateLimit">
        /* GuestRateLimitMapper.selectRateLimit */
        SELECT
            ID,
            GUEST_ID,
            MINUTE_KEY,
            COUNT,
            CRE_TM
        FROM TB_GUEST_RATE_LIMIT
        WHERE GUEST_ID   = #{guestId}
          AND MINUTE_KEY = #{minuteKey}
    </select>

    <insert id="insertRateLimit" parameterType="com.shop.core.entity.GuestRateLimit">
        /* GuestRateLimitMapper.insertRateLimit */
        INSERT INTO TB_GUEST_RATE_LIMIT (
            GUEST_ID,
            MINUTE_KEY,
            COUNT,
            CRE_TM
        ) VALUES (
            #{guestId},
            #{minuteKey},
            1,
            NOW()
        )
        ON CONFLICT (GUEST_ID, MINUTE_KEY)
        DO UPDATE SET COUNT = TB_GUEST_RATE_LIMIT.COUNT + 1
    </insert>

    <delete id="deleteOldRateLimits">
        /* GuestRateLimitMapper.deleteOldRateLimits */
        DELETE FROM TB_GUEST_RATE_LIMIT
        WHERE CRE_TM <![CDATA[ < ]]> NOW() - INTERVAL '1 hour'
    </delete>
</mapper>